<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghiyats.fish.temannelayan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyNavigationDrawerTheme">
        <activity
            android:name=".Activity.NavigationDrawer"
            android:label="@string/app_name"
            android:theme="@style/MyNavigationDrawerTheme"></activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.AddLocation"
            android:label="@string/title_activity_add_location"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Activity.NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.NavigationDrawer">
            </meta-data>
        </activity>

        <activity
            android:name=".Activity.EditLocation"
            android:label="@string/title_activity_edit_location"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Activity.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DetailActivity">
            </meta-data>

        </activity>
        <activity
            android:name=".Activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Activity.NavigationDrawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.NavigationDrawer">
            </meta-data>
        </activity>
    </application>

</manifest>
